<template>
  <div class="padding">
    <h1 class="bigger pb-56">{{ sonstige.entries[0].title }}</h1>
    <div v-html="sonstige.entries[0].text" class="md:w-7/12 outer"></div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios, i18n, params }) {
    const sonstige = await $axios.$get(
      "api/collections/get/sonstige?lang=" +
        i18n.locale +
        "&filter[title_slug]=" +
        params.slug
    );
    return { sonstige };
  },
  head() {
    return {
      title: this.sonstige.entries[0].title,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.sonstige.entries[0].title,
        },
      ],
    };
  },
};
</script>

<style scoped>
.outer >>> p {
  @apply pb-3;
}
</style>
