<template>
  <div class=" overflow-hidden">
    <div class="p-8 pb-12">
      <h2>{{content.logo_title}}</h2>
      <p class="text-2xl md:w-9/12 lg:w-5/12">
        {{content.logo_text}}
      </p>
    </div>
    <client-slieder-row :imgs="content.logos_row1" class="first mix-blend-exclusion"/>
    <client-slieder-row :imgs="content.logos_row2" class="second mix-blend-exclusion"/>
    <client-slieder-row :imgs="content.logos_row3" class="third mix-blend-exclusion"/>
  </div>
</template>

<script>
export default {
  props:['content'],
  data() {
    return {
      imgs: [
        "http://placehold.jp/99ccff/4882bd/400x150.png",
        "http://placehold.jp/99cdff/4882bd/400x150.png",
        "http://placehold.jp/10ccff/4882bd/400x150.png",
        "http://placehold.jp/99ccff/4882bd/400x150.png",
      ],
    };
  },
};
</script>

<style>
@keyframes slide {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

.first {
  animation: slide;
  animation-duration: 44s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.second {
  animation: slide;
  animation-duration: 62s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.third {
  animation: slide;
  animation-duration: 56s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
</style>
