<template>
  <div class="">
      <div
        name="flip-list"
        tag="div"
        class="flex w-[200vw]  invert  grayscale items-center py-16"
        ref="imageRow"
      >
        <div v-for="img in imgs" :key="img._id" class=" px-14">
          <img :src="$axios.defaults.baseURL + img.path" alt="" class="h-24 object-contain" />
        </div>
        <client-only>
          <div v-for="img in imgs" :key="img._id" class=" px-14">
            <img :src="$axios.defaults.baseURL + img.path" alt="" class="h-24  object-contain" />
          </div>
        </client-only>
      </div>
    </div>
</template>

<script>
export default {
    props: ['imgs']

}
</script>

<style>

</style>