<template>
  <img :srcset="getImage(320) + ` 320w,`
            + getImage(640) +` 640w,`
            + getImage(768) +` 768w,`
            + getImage(1280) +` 1280w,`"
     sizes="(max-width: 320px) 100vw, (max-width: 640px) 100vw, (max-width: 768px) 100vw, (max-width: 1280px) 100vw, 100vw"
     :src="$axios.defaults.baseURL + url"
     :alt="alt">
</template>

<script>
export default {
    data() {
        return {
            path1: 'api/cockpit/image?token=dfff86716e07bc06de5186660fc426&m=fitToWidth&o=true&src=',
            path2: '&w=',
        }
    },
    props: ['url', 'alt'],
    async fetch() {
      this.mountains = await fetch(
        'https://api.nuxtjs.dev/mountains'
      ).then(res => res.json())
    },
    methods: {
        getImage(size) {
            const url = this.$axios.defaults.baseURL + this.path1 + this.url + this.path2 + size
            return url
        }
    },
    
}
</script>

<style>

</style>