<template>
  <nav class="">
    <div class="fixed top-0 right-0 m-5 z-30 flex flex-col items-end">
      <button
        @mouseenter="mq() ? null : toggle()"
        @click="toggle()"
        class="md:w-28 w-10 md:h-9 h-7 rounded-full bg-red"
        aria-label="Open Menu"
      ></button>
    </div>

    <transition name="fade" aria-hidden="true">
      <div
        class="
          fixed
          inset-0
          z-20
          overscroll-contain
          overflow-hidden bg-base-dark md:bg-opacity-50 bg-opacity-80 
          backdrop-blur-lg
        "
        v-if="nav"
        
      >
        <div
          class="
            bigger
            flex flex-col
            p-5
            fixed
            right-0
            top-[75px]
            items-end
          "
          @mouseleave="toggle()"
        >
          <div class="lang text-sm pb-6">
            <nuxt-link
              :to="switchLocalePath('en')"
              @click.native="nav = !nav"
              class="opacity-20"
              >En</nuxt-link
            >
            <nuxt-link
              :to="switchLocalePath('de')"
              @click.native="nav = !nav"
              class="opacity-20"
              >De</nuxt-link
            >
          </div>
          <nuxt-link
            :to="localePath('/')"
            class="block pb-10 link"
            @click.native="toggle()"
            >Uwe Spannagel</nuxt-link
          >
          <nuxt-link :to="localePath('projekte')" class="link" @click.native="toggle()"
            >Projekte</nuxt-link
          >
          <nuxt-link :to="localePath('/studio')" class="link" @click.native="toggle()"
            >Studio</nuxt-link
          >
          <nuxt-link :to="localePath('/prozess')" class="link" @click.native="toggle()"
            >Prozess</nuxt-link
          >
          <nuxt-link :to="localePath('/kontakt')" class="link" @click.native="toggle()"
            >Kontakt</nuxt-link
          >
        </div>
      </div>
    </transition>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      nav: false,
      body: null,
    };
  },
  // head() {
  //   return {
  //     bodyAttrs: {
  //       class: this.nav ? "overflow-hidden" : "",
  //     },
  //   };
  // },
  methods: {
    test() {
      const stagger = this.$gsap.utils.toArray(".stagger");
      stagger
        .slice()
        .reverse()
        .forEach((stagger, index) => {
          console.log(-index / 10);
          this.$gsap.to(stagger, {
            opacity: 0,
            delay: index / 10,
            duration: 0.2,
            scrollTrigger: {
              trigger: ".outer",
              start: "1% top",
              toggleActions: "play none reverse reset",
            },
          });
        });
    },
    mq () {
    	var mobile = window.matchMedia('(max-width: 400px)').matches;
      return mobile
    },
    toggle() {
      this.nav = !this.nav;
      // this.$nuxt.$emit('eventName')
    },
  },
  mounted() {
    this.test();
  },
};
</script>

<style>
.lang .nuxt-link-active {
  @apply opacity-100;
}

.link {
  @apply block hover:text-base-lightest transition-colors;
}
</style>
