<template>
  <div class="padding bg-base-light rounded">
    <transition-group
      name="list"
      tag="ul"
      class="
        w-full
        md:w-10/12
        grid
        md:grid-cols-2
        gap-40 gap-y-10
        md:gap-y-40
        relative
      "
    >
      <li
        v-for="projekt in isNew"
        :key="projekt._id"
        class="w-full group transition duration-500 abfolge"
        
      >
        <nuxt-link :to="localePath(`/projekte/` + projekt.title_slug + filter())">
          <!-- <pre>{{ projekt }}</pre> -->
          <div class="relative">
            <!-- <p
              class="
                absolute
                left-2
                bottom-2
                p-2
                px-6
                rounded-full
                bg-base-lighter bg-opacity-60
                md:opacity-0
                group-hover:opacity-100
                transition
                duration-500
              "
            >
              {{ projekt.year }}
            </p> -->
            <rounded-button class="absolute left-2 bottom-2 md:opacity-0
                group-hover:opacity-100" color="!m-0 !bg-base-lighter !bg-opacity-60 !duration-500 transition !text-light">{{
              projekt.year
            }}</rounded-button>
            <image-module
              :url="projekt.header_image.path"
              alt=""
              class="w-full rounded"
            />
          </div>

          <div
            class="md:opacity-0 group-hover:opacity-100 transition duration-500"
          >
            <h3 class="uppercase pt-4">
              {{ projekt.title }}
            </h3>
            <p class="opacity-50">
              {{ projekt.hersteller }}
            </p>
          </div>
        </nuxt-link>
      </li>
    </transition-group>
    <div v-if="isArchive[0]">
      <h2 class="pt-80 w-9/12">{{ infos.archive_headline }}</h2>
      <p class="big w-9/12">
        {{ infos.archive }}
      </p>
      <ul class="pt-24 grid grid-cols-4 w-9/12 gap-4">
        <li v-for="archive in isArchive" :key="archive.id" class="relative">
          <nuxt-link :to="localePath(`/projekte/` + archive.title_slug)">
            <h3 class="uppercase pt-4">
              {{ archive.title }}
            </h3>
            <p class="opacity-50">
              {{ archive.hersteller }}
            </p>
          </nuxt-link>
          <nuxt-img
            :src="$axios.defaults.baseURL + archive.header_image.path"
            alt=""
            class="w-96 absolute -bottom-8 left-16 hidden"
          />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import roundedButton from "./roundedButton.vue";
export default {
  components: { roundedButton },
  props: {
    content: {
      type: Array,
      default: () => [],
    },
    filtered: {
      type: Boolean
    },
    infos: {
      type: Object,
      default: () => []
    }
  },
  data() {
    return {
      archiveText: [],
    }
  },
  // async fetch() {
  //   this.archiveText = await fetch(
  //     this.$axios.defaults.baseURL +
  //       "api/singletons/get/Startseite?lang=" +
  //       this.$i18n.locale
  //   ).then((res) => res.json());
  // },
  computed: {
    isNew() {
      const newArray = this.content.filter((entry) => entry.archive === false);
      return newArray;
    },
    isArchive() {
      const newArray = this.content.filter((entry) => entry.archive === true);
      return newArray;
    },
  },
  methods: {
    random() {
      return Math.floor(Math.random() * 3) + 4;
    },
    filter() {
      if (this.filtered) {
        let uri = "?filtered=" + this.filtered
        return uri 
      } else {
        return ""
      }
    }
  },
};
</script>

<style>
.masonry {
  column-gap: 1.5em;
  column-count: 2;
}
.break-inside {
  break-inside: avoid;
}

.abfolge:nth-child(1n){
  grid-row: span 3;
}
.abfolge:nth-child(3n){
  grid-row: span 4;
}

</style>
