<template class="">
  <section class="p-5 relative" :class="color">
    <!-- <pre>{{step}}</pre> -->
    <div class="w-full flex items-center gap-5 pb-72">
      <div
        class="
          w-14
          h-14
          border-2
          rounded-full
          flex
          items-center
          justify-center
          opacity-75
        "
      >
        <p class="mt-[4%] zahl" />
      </div>
      <div>
        <p class="big">
          {{ step.title }}
        </p>
        <ul class="flex gap-4 opacity-25">
          <li v-for="fact in step.facts">
            {{ fact.value }}
          </li>
        </ul>
      </div>
    </div>
    <nuxt-img
      v-if="step.image"
      :src="$axios.defaults.baseURL + step.image.path"
      alt=""
      class="w-full absolute left-0 top-0 opacity-10  pointer-events-none h-full object-cover"
      sizes="xxl:100vw, xl:100vw, lg:100vw, md:100vw, sm:100vw"
    />
    <div class=" relative">
      <!-- <ol v-if="step.texts" class="flex list-disc gap-6 pb-72">
        <li v-for="text in step.texts" class="flex w-3/12 gap-4">
          <div class="">
            <p class="big">
              {{ text.value.name }}
            </p>
            <p class="opacity-50">
              {{ text.value.about }}
            </p>
          </div>
        </li>
      </ol> -->
      <div class="outer">
        <p class="big lg:w-7/12 mb-72">
          {{ step.text }}
        </p>
        <rounded-button v-if="step.CTA" :href="`mailto:` + step.link" class=" z-40">{{ step.CTA }}</rounded-button>
      </div>
      <p v-if="!step.CTA" class="opacity-25 pl-6">↓</p>
    </div>
    
  </section>
</template>

<script>
import roundedButton from './roundedButton.vue';
export default {
  components: { roundedButton },
  props: ["step", "color", "image"],
};
</script>

<style scoped>
ol {
  counter-reset: section; /* Set a counter named 'section', and its initial value is 0. */
}

ol li::before {
  counter-increment: section; /* Increment the value of section counter by 1 */
  content: counter(section, upper-alpha);
  @apply w-[2.5vw]
                h-[2.5vw]
                flex-shrink-0
                bg-light
                text-base
                rounded-full
                flex
                items-center
                justify-center
             /* Display the word 'Section ', the value of
                                                   section counter, and a colon before the content
                                                   of each h3 */;
}

.zahl::before {
  counter-increment: wrapper; /* Increment the value of section counter by 1 */
  content: counter(wrapper);
}
</style>
