<template>
  <div>
    <NuxtLink
      class="style bg-red"
      :class="color"
      :to="localePath(link)"
      v-if="link"
    >
      <span class="pt-[1%] block"><slot></slot></span>
    </NuxtLink>
    <a v-if="href" :href="href" class="style bg-red" :class="color">
       <span class="pt-[1%] block"><slot></slot></span>
    </a>
    <p v-if="!href & !link" class="style cursor-pointer bg-red" :class="color">
        <span class="pt-[1%] block"><slot></slot></span>
    </p>
  </div>
</template>

<script>
export default {
  props: ["link", "href", "color"],
};
</script>

<style scoped>
.style{
  @apply p-1 md:p-2 px-5 md:px-7 my-3 inline-block rounded-full text-base leading-none backdrop-blur
}
</style>