<template>
  <div>
    <a :href="link" v-if="link" target="blank">
      <slot></slot>
    </a>
    <slot v-else></slot>
  </div>
</template>

<script>
export default {
  props: ["link"],
};
</script>

<style>
</style>