<template>
  <section class="padding md:grid md:grid-cols-12">
    <h2 class="md:col-span-3 lg:col-span-5">{{ title }}</h2>
    <div class="md:col-span-8 lg:col-span-5 text-2xl">
      <p>
        {{ text }}
      </p>
      <div v-if="awards" v-html="$md.render(awards)" class=" text-sm text-base-lightest pt-5 leading-tight">
        
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["title", "text", "awards"],
};
</script>

<style>
</style>