<template>
  <div class="bg-black p-5 pt-64 rounded stick bg-base-darker stick">
    <div class=" flex justify-between items-end">
      <div class="">
        <address class="not-italic opacity-25">
          UWE SPANNAGEL <br />Huhnsgasse 37 <br />50676 Köln
        </address>
        <ul class="flex gap-2 text-xs pt-10 opacity-25">
          <li v-for="seite in sonstige.entries" :key="seite.title"><nuxt-link :to="localePath(`/sonstige/` + seite.title_slug)">{{seite.title}}</nuxt-link></li>
        </ul>
      </div>
      <rounded-button href="mailto:hallo@web.de"
         color="bg-base-lightest text-base-darkest">Starten Sie ein Projekt</rounded-button
      >
    </div>
  </div>
</template>

<script>
import roundedButton from "./roundedButton.vue";
export default {
  components: { roundedButton },
  data() {
    return {
      sonstige: null,
    };
  },
  async fetch() {
    this.sonstige = await fetch(this.$axios.defaults.baseURL +  "api/collections/get/sonstige?lang=" +
        this.$i18n.locale).then(
      (res) => res.json()
    );
  },
};
</script>

<style></style>
