<template>
  <div class="w-full">
    <rounded-button
      class="fixed right-16 md:right-36 top-2 !text-sm"
      color="bg-base-lightest bg-opacity-50 !text-light !text-sm !uppercase !tracking-widest"
      link="/projekte"
    >
      <span class="text-sm inline-block opacity-25 pr-2">ᐸ</span> Projekte
    </rounded-button>
    <div class="w-full p-3 md:p-5">
      <nuxt-img
        :src="$axios.defaults.baseURL + projekt.header_image.path"
        alt
        class="w-full md:w-10/12 object-cover rounded"
        sizes="xxl:100vw, xl:100vw, lg:100vw, md:100vw, sm:100vw"
      />
    </div>
    <section class="padding">
      <h1 class="bigger pb-24">{{ projekt.title }}</h1>
      <div class="md:grid grid-cols-12">
        <p class="text-2xl pb-16 md:pb-0 col-span-6">{{ projekt.body }}</p>
        <ul class="datelist col-start-8 col-span-3">
          <li>Produkt</li>
          <li>{{ projekt.product }}</li>
          <li>Hersteller</li>
          <li>{{ projekt.hersteller }}</li>
          <li>Jahr</li>
          <li>{{ projekt.year }}</li>
          <li>Leistung</li>
          <li>{{ projekt.leistung }}</li>
        </ul>
      </div>
    </section>
    <section v-for="section in projekt.layout" :key="section.id" class="pb-8 md:pb-24">
      <template v-if="section.component === 'layout_image'">
        <div v-if="section.settings.size === 'Klein'" class="w-9/12 m-3 md:m-5">
          <img
            :src="$axios.defaults.baseURL + section.settings.image.path"
            alt
            class="w-full object-cover rounded overflow-hidden"
          />
          <p v-if="section.settings.desc" class="m-2 mt-4 max-w-3xl">{{ section.settings.desc }}</p>
        </div>
        <div v-if="section.settings.size === 'Mittel'" class="w-full p-5">
          <img
            :src="$axios.defaults.baseURL + section.settings.image.path"
            alt
            class="w-full rounded overflow-hidden"
          />
          <p v-if="section.settings.desc" class="m-2 mt-4 max-w-3xl">{{ section.settings.desc }}</p>
        </div>
        <div v-if="section.settings.size === 'Groß'" class="w-full">
          <img
            :src="$axios.defaults.baseURL + section.settings.image.path"
            alt
            class="w-full object-cover rounded overflow-hidden"
          />
          <p
            v-if="section.settings.desc"
            class="ml-5 m-2 mt-4 max-w-3xl"
          >{{ section.settings.desc }}</p>
        </div>
      </template>
      <div v-if="section.component === 'markdown_text'" class="m-3 md:m-5">
        <p class="text-2xl w-5/12">{{ section.settings.text }}</p>
      </div>
    </section>
    <div v-if="next" class="group transition-all">
      <nuxt-link :to="`/projekte/` + next.title_slug + filter()" rel="next">
        <div
          class="bigger p-5 h-48 transition-all bg-base-lighter w-full relative bg-cover bg-center relative grayscale"
          :style="{
            backgroundImage:
              `url('` +
              $axios.defaults.baseURL +
              next.header_image.path +
              `')`,
          }"
        >
          <p
            class="text-sm uppercase tracking-widest z-10 opacity-0 group-hover:opacity-100 relative"
          >Nachstes Projekt</p>
          <p
            class="opacity-0 group-hover:opacity-100 transition-all z-10 relative"
          >{{ next.title }}</p>
          <div class="w-full h-full bg-base absolute left-0 top-0 opacity-90" />
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import roundedButton from '~/components/roundedButton.vue';
export default {
  components: { roundedButton },
  transition: "home",
  async asyncData({ $axios, i18n, params }) {
    const projektL = await $axios.$get(
      "api/collections/get/projekte?lang=" +
      i18n.locale +
      "&filter[title_slug]=" +
      params.slug
    );
    const nächstes = await $axios.$get(
      "api/collections/get/projekte?lang=" +
      i18n.locale +
      "&fields[title]=1&fields[header_image]=1&fields[category]=1&fields[title_slug]=1&filter[archive]=false&sort[_o]=1"
    );
    const projekt = projektL.entries[0];
    const filteredArray = nächstes.entries.filter((entry) => entry.category.display === projekt.category.display);

    let nächstesIndex = nächstes.entries.findIndex(function (entrie) {
      return entrie.title_slug === params.slug;
    });
    let nächstesIndexFiltered = filteredArray.findIndex(function (entrie) {
      return entrie.title_slug === params.slug;
    });
    const nächstesProjekt = nächstes.entries[++nächstesIndex];
    

    

    return { projekt, nächstes, nächstesProjekt, nächstesIndexFiltered, nächstesIndex, filteredArray};
  },
  head() {
    return {
      title: this.projekt.title,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.projekt.body,
        },
      ],
    };
  },
  mounted() {
    console.log(this.$route);
  },
  methods: {
    filter(){
      if (this.$route.query.filtered) {
        let uri = "?filtered=" + this.$route.query.filtered
        return uri 
      } else {
        return ""
      }
    }
  },
  computed: {
    next() {
      if (this.$route.query.filtered) {
        return this.filteredArray[+(this.nächstesIndexFiltered)];
      } else {
        return this.nächstes.entries[+(this.nächstesIndex)];
      }
    }
  },
};
</script>

<style>
.datelist li {
  @apply odd:text-base-lightest even:text-light even:mb-5;
}
</style>

