body{
    @apply bg-base font-roobert leading-tight text-light selection:text-red }

body{
  scroll-behavior: smooth;
}

.padding{
    @apply  pb-32 md:!pb-64 p-3 md:p-5 md:-mt-2 
  
}

.stick{
    @apply sticky top-0
}


h2{
    @apply text-base text-red leading-snug
}

.big{
    @apply  md:text-dynamicMiddle text-dynamicLarge leading-[1.1]
}

.bigger{
    @apply md:text-dynamicLarge text-dynamicMobile leading-[1.1]
}


@font-face {
    font-family: 'roobert_trialmedium';
    src: url('rooberttrial-medium-webfont.woff2') format('woff2'),
         url('rooberttrial-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* .fade-move{
    transition: transform 0.3s;
} */


.list-enter-active {
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    opacity: 0;
  }
  /* .list-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  } */
  .list-enter, .list-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transition: all 0.5s;
    opacity: 0;
  }

  .list-leave-active {
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(30px);
    transform: scale(0.99);
  }
  
  /* .list-move {
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
  
  }
   */

.home-enter-active,
.home-leave-active {
  transition: opacity 0.2s;
}
.home-enter,
.home-leave-active {
  opacity: 0;
}