<template>
  <div class="antialiased">
    <nav-layer />
    <Nuxt
      class="outer transition-opacity duration-500"
      :class="animateSecureHint"
    />
    <the-footer />
  </div>
</template>

<script>
export default {
  data() {
    return {
      animateSecureHint: null,
      seo: null,
    };
  },
  async fetch() {
      this.seo = await fetch(
        this.$axios.defaults.baseURL +  "api/singletons/get/seo?lang=" + this.$i18n.locale
      ).then(res => res.json())
    },
  head() {
    return {
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
      link: [
        {
          rel: 'canonical',
          href: process.env.WEB_URL + this.$route.path
        }
      ],
       meta: [
      {
        hid: 'og:title',
        property: 'og:title',
        content: this.seo.title,
      },
      {
        hid: 'og:description',
        property: 'og:description',
        content: this.seo.description,
      },
      {
        hid: 'og:type',
        property: 'og:type',
        content: 'website',
      },
      {
        hid: 'og:image',
        property: 'og:image',
        content: this.$axios.defaults.baseURL + this.seo.preview_image.path,
      },
      {
        hid: 'og:url',
        property: 'og:url',
        content: ''
      },
      {
        property: 'og:locale',
        content: `${this.$i18n.locale}_${this.$i18n.locale.toUpperCase()}`,
      },
    ],
    };
  },
  created() {
    this.$nuxt.$on("eventName", () => {
      if (this.animateSecureHint == null) {
        this.animateSecureHint = "opacity-25";
      } else {
        this.animateSecureHint = null;
      }
    });
  },
};
</script>

<style>
</style>
