<template>
  <div class=" h-screen padding -mb-24 w-10/12">
    <h1 v-if="error.statusCode === 404" class=" bigger">Leider gibt es diese Seite nicht (mehr) …</h1>
    <h1 v-else>Ein Fehler ist aufgetreten!</h1>
    <rounded-button link="/">Startseite</rounded-button>
  </div>
</template>

<script>
import roundedButton from '~/components/roundedButton.vue'
  export default {
  components: { roundedButton },
    props: ['error'],
  }
</script>