<template>
  <div class="w-full">
    <div class="padding md:w-9/12 w-11/12 md:!pt-7 !pt-5 md:bigger big">
      <p>
        <span class="text-light opacity-40">{{ start.title }}</span>
        {{ start.intro_text }}
      </p>
    </div>
    <div class="padding">
      <h2 class="mb-2">
        {{ start.new_project_title }}
      </h2>
      <ul class="md:w-9/12 w-full">
        <li
          v-for="entry in projekte.entries"
          :key="entry._id"
          class="w-full relative mb-4 test"
        >
          <NuxtLink :to="localePath(`/projekte/` + entry.title_slug)">
            <p
              class="
                p-3
                px-4
                md:p-3
                md:px-7
                uppercase
                rounded-full
                tracking-widest
                bg-opacity-50 bg-base-lighter
                inline-block
                absolute
                top-5
                left-5
                fixed
                leading-none
              "
            >
              {{ entry.title }}
            </p>
            <image-module
              :url="entry.header_image.path"
              alt=""
              class="w-full rounded object-cover"
            />
          </NuxtLink>
        </li>
      </ul>
      <rounded-button link="/projekte">{{start.project_link}}</rounded-button>
    </div>
    <div class="padding w-full bg-base-light rounded stick">
      <div class="md:w-9/12">
        <h2>{{ start.our_process_title }}</h2>
        <p class="big">
          {{ start.our_process_text }}
        </p>
        <rounded-button link="/prozess">{{ start.our_process_title }}</rounded-button>
      </div>
    </div>
    <div class="padding w-full bg-base-lighter rounded stick content">
      <div class="md:w-9/12 test">
        <h2>{{ start.about_us_title }}</h2>
        <p class="big">
          {{ start.about_us_text }}
        </p>
        <rounded-button link="/studio">{{ start.about_us_title }}</rounded-button>
      </div>
    </div>
    <div class="padding w-full bg-base-lightest rounded stick">
      <h2 class="pb-2">
        {{ start.news_title }}
      </h2>
      <transition-group
        tag="ul"
        name="fade"
        class="grid lg:grid-cols-4 md:grid-cols-2 gap-4 gap-y-10"
      >
        <li
          v-for="single in news.entries"
          :key="single._id"
          class="flex-1 group"
        >
          <slot-test :link="single.link">
            <image-module
              v-if="single.image"
              :url="single.image.path"
              alt=""
              class="
                w-full
                rounded
                opacity-25
                mb-4
                filter
                grayscale
                group-hover:opacity-100 group-hover:grayscale-0
                transition
              "
            />
            <h3 class="pb-4">
              {{ single.headline }}
            </h3>
            <p class="opacity-40">
              {{ single.body }}
            </p>
            <p v-if="single.link" class="mt-2 inline-block">
              Erfahren sie mehr …
            </p>
          </slot-test>
        </li>
      </transition-group>

      <rounded-button lass="mt-5" @click.native="dateCheck()">
        Alle News
      </rounded-button>
    </div>
  </div>
</template>

<script>
import ImageModule from '~/components/imageModule.vue';
import RoundedButton from "~/components/roundedButton.vue";
import SlotTest from "~/components/slotTest.vue";

export default {
  components: { RoundedButton, SlotTest, ImageModule },
  transition: "home",
  async asyncData({ $axios, i18n }) {
    const start = await $axios.$get(
      "api/singletons/get/Startseite?lang=" + i18n.locale
    );
    const news = await $axios.$get(
      "api/collections/get/News?limit=4&sort[_created]=-1&lang=" + i18n.locale
    );
    const projekte = await $axios.$get(
      "api/collections/get/projekte?lang=" +
        i18n.locale +
        "&limit=3&filter[archive]=false&sort[_o]=1"
    );
    return { start, news, projekte };
  },
  data() {
    return {
      news: null,
      show: false,
      endpoint: null,
      description: "this.start",
    };
  },
  head() {
    return {
      title: "Start",
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.start.intro_text,
        },
      ],
    };
  },
  methods: {
    async dateCheck() {
      const more = await this.$axios.$get(
        "api/collections/get/News?sort[_created]=-1&lang=" + this.$i18n.locale
      );
      this.news = more;
    },
    // async name() {
    //   var endpoint = await this.$axios.$get(
    //     "https://cms.uwespannagel.com/api/cockpit/image?token=dfff86716e07bc06de5186660fc426&src=https://cms.uwespannagel.com/storage/uploads/2022/01/26/aaa_uid_61f16d65c2bcc.jpg&w=200"
    //   );
    //   console.log(endpoint);
    //   this.endpoint = endpoint;
    // },

    // test() {
    //   const boxes = this.$gsap.utils.toArray(".test");
    //   console.log(boxes)
    //   this.$gsap.set(".test", { opacity: 0 });
    //   boxes.forEach((box) => {
    //     this.$gsap.to(box, {
    //       opacity: 1,
    //       delay: 0.5,
    //       scrollTrigger: {
    //         trigger: box,
    //       },
    //     });
    //   });
    // },
  },
  mounted() {
    // this.test();
    // this.name(); 
  },
  computed: {},
};
</script>

<style>
.h-preview {
  height: calc(100vw * 7 / 16);
}
</style>
