<template>
  <div>
      <!-- <pre>{{kontakt}}</pre> -->
     <img
            :src="$axios.defaults.baseURL + kontakt.header_gallery.path"
            alt=""
            class="w-full object-cover overflow-hidden rounded md:h-[50vw] h-[50vh]"
          />
    <address class="big not-italic !pt-8 padding" v-html="$md.render(kontakt.address)">

    </address>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios, i18n }) {
    const kontakt = await $axios.$get(
      'api/singletons/get/kontakt?lang=' + i18n.locale
    );
    return { kontakt };
  },
  head() {
    return {
      title: "Kontakt",
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.$md.render(this.kontakt.address),
        },
      ],
    };
  },
};
</script>

<style>

.h-preview {
  height: calc(100vw * 7 / 16);
}
</style>
