<template>
  <div class="w-full">
    <!-- <pre>{{projekte}}</pre> -->
    <div class="padding">
      <p class="big w-full md:w-9/12 lg:w-9/12 text-2xl">
        {{infos.intro}}
      </p>
    </div>
    <div id="top" class="relative ">
      <ul
        class="
          flex
          m-2
          p-2
          gap-3
          kategorien
          sticky
          left-0
          top-3
          z-10
           overflow-hidden
          overflow-x-scroll
          bg-base
          rounded
          bg-opacity-20
          backdrop-blur-lg
          uppercase
          tracking-widest
          text-sm
        "
      >
        <li
          :class="currentSelection === '' ? 'active' : ''"
          @click="resetProjekte()"
        >
          <a href="#top">Alle</a>
        </li>
        <li
          v-for="kategorie in kategorien.entries"
          :key="kategorie._id"
          :class="kategorie.category === currentSelection ? 'active' : ''"
          @click="filterProjekte(kategorie.category)"
        >
          <a href="#top">{{ kategorie.category }}</a>
        </li>
      </ul>

      <!-- <pre>{{kategorien}}</pre> -->
      <!-- <pre>{{projekte}}</pre> -->
      <project-list :content="newThing" :infos="infos" :filtered="wasFiltered"/>
    </div>
  </div>
</template>

<script>
import projectList from "~/components/projectList.vue";
export default {
  components: { projectList },
  transition: "home",
  async asyncData({ $axios, i18n }) {
    const kategorien = await $axios.$get(
      "api/collections/get/categories?lang=" + i18n.locale
    );
    const projekte = await $axios.$get(
      "api/collections/get/projekte?populate=1&lang=" + i18n.locale
    );
    const infos = await $axios.$get(
      "api/singletons/get/projekte?lang=" + i18n.locale
    );
    return { kategorien, projekte, infos };
  },
  data() {
    return {
      projekte: [],
      newThing: [],
      currentSelection: "",
      wasFiltered: false,
    };
  },
  head() {
    return {
      title: "Projekte",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "",
        },
      ],
    };
  },
  mounted() {
    this.newThing = this.projekte.entries;
  },
  // computed: {
  //   name() {
  //     return this.projekte.entries
  //   }
  // },
  methods: {
    filterProjekte(slug) {
      const test = this.projekte.entries.filter(
        (entry) => entry.category.category === slug
      );
      this.newThing = test;
      this.currentSelection = slug;
      this.wasFiltered = true;
    },
    resetProjekte() {
      this.newThing = this.projekte.entries;
      this.currentSelection = "";
      this.wasFiltered = false;
    },
  },
};
</script>

<style>
.kategorien li {
  @apply p-3 px-5 leading-none rounded-full bg-base-darker bg-opacity-25 text-light cursor-pointer hover:bg-base-lighter hover:text-light transition duration-500 active:bg-base-darker;
}

.kategorien li.active {
  @apply p-3 px-5 leading-none rounded-full bg-base-lighter cursor-pointer text-light transition duration-500;
}
</style>
