<template>
  <div class="wrapper">
    <!-- <pre>{{prozess}}</pre> -->
    <section class="p-5 bg-base-darker w-full">
      <h3 class="big w-10/12 pb-72">
        {{ prozess.intro }}
      </h3>
      <p class="opacity-25 pl-6">↓</p>
    </section>
    <prozess-item :step="prozess.step_1" color="bg-base-dark" />
    <prozess-item :step="prozess.step_2" color="bg-base" />
    <prozess-item :step="prozess.step_3" color="bg-base-lighter" />
  </div>
</template>

<script>
import prozessItem from "~/components/prozessItem.vue";
export default {
  transition: "home",
  components: { prozessItem },
  async asyncData({ $axios, i18n }) {
    const prozess = await $axios.$get(
      "api/singletons/get/prozess?lang=" + i18n.locale
    );
    return { prozess };
  },
  head() {
    return {
      title: "Prozess",
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.prozess.intro,
        },
      ],
    };
  },
};
</script>

<style>
.wrapper {
  counter-reset: wrapper; /* Set a counter named 'section', and its initial value is 0. */
}
</style>