<template>
  <div>
    <VueSlickCarousel :autoplaySpeed="parseInt(studio.slider_speed)*1000" v-bind="slickOptions"  class="">
      <img
        v-for="(img, index) in studio.header_image" :key="index" 
        :src="$axios.defaults.baseURL + img.path"
        alt=""
        class="
          w-full
          object-cover
          overflow-hidden
          md:h-[50vw]
          h-[50vh]
          rounded
        "
      />
    </VueSlickCarousel>
    <!-- <pre>{{studio}}</pre> -->
    <studio-item
      class="!pt-8"
      :title="studio.block1_title"
      :text="studio.block1_text"
    />
    <studio-item
      class="bg-base-dark"
      :title="studio.block2_title"
      :text="studio.block2_text"
      :awards="studio.awards"
    />
    <studio-item
      class="bg-base-darker"
      :title="studio.block3_title"
      :text="studio.block3_text"
    />
    <client-slider :content="studio" />
  </div>
</template>

<script>
import clientSlider from "~/components/clientSlider.vue";
import StudioItem from "~/components/studioItem.vue";
export default {
  components: { clientSlider, StudioItem },
  async asyncData({ $axios, i18n }) {
    const studio = await $axios.$get(
      "api/singletons/get/studio?lang=" + i18n.locale
    );
    return { studio };
  },
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: false,
        autoplay: true,
        pauseOnHover: false,
        fade: true
      },
    };
  },
  head() {
    return {
      title: "Studio",
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.studio.block1_text,
        },
      ],
    };
  },
};
</script>

<style>
.h-preview {
  height: calc(100vw * 7 / 16);
}
</style>