<template>
  <div>  
     <project-list :content="projekte"/>
  </div>
</template>

<script>
import projectList from '~/components/projectList.vue';
export default {
  components: { projectList },
   async asyncData({ $axios, i18n, params }) {
   const slug = params.id
    const projekte = await $axios.$get(
      "api/collections/get/projekte?lang=" + i18n.locale + "&filter[category]=" + slug
    );
    
    return { projekte, slug };
  },
}
</script>

<style>

</style>