<template>
  <div>
     <project-list :content="projekte"/>
  </div>
</template>

<script>
import projectList from '~/components/projectList.vue';
export default {
  components: { projectList },
   async asyncData({ $axios, i18n }) {
    const projekte = await $axios.$get(
      "api/collections/get/projekte?lang=" + i18n.locale
    );
    return { projekte };
  },
}
</script>

<style>

</style>